In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
pd.set_option('display.max.columns', None)

#   Manipulating data

In [31]:
tb= pd.read_csv(r"C:\Users\Lucky Prem\Downloads\organizations-100\car-sales-missing-data.csv")
tb

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [32]:
tb.Colour=tb.Colour.str.lower()
tb

     Make Colour  Odometer  Doors    Price
0  Toyota  white  150043.0    4.0   $4,000
1   Honda    red   87899.0    4.0   $5,000
2  Toyota   blue       NaN    3.0   $7,000
3     BMW  black   11179.0    5.0  $22,000
4  Nissan  white  213095.0    4.0   $3,500
5  Toyota  green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   blue       NaN    4.0      NaN
8  Toyota  white   60000.0    NaN      NaN
9     NaN  white   31600.0    4.0   $9,700

In [33]:
tb.Odometer.fillna(tb.Odometer.median())

0    150043.0
1     87899.0
2     73949.5
3     11179.0
4    213095.0
5     73949.5
6     73949.5
7     73949.5
8     60000.0
9     31600.0
Name: Odometer, dtype: float64

In [34]:
tb.Odometer.fillna(value=tb.Odometer.median(), inplace=True)
#tb.Odometer=tb.Odometer.fillna(value=tb.Odometer.median())

In [35]:
tb

     Make Colour  Odometer  Doors    Price
0  Toyota  white  150043.0    4.0   $4,000
1   Honda    red   87899.0    4.0   $5,000
2  Toyota   blue   73949.5    3.0   $7,000
3     BMW  black   11179.0    5.0  $22,000
4  Nissan  white  213095.0    4.0   $3,500
5  Toyota  green   73949.5    4.0   $4,500
6   Honda    NaN   73949.5    4.0   $7,500
7   Honda   blue   73949.5    4.0      NaN
8  Toyota  white   60000.0    NaN      NaN
9     NaN  white   31600.0    4.0   $9,700

In [36]:
tb.dropna()

     Make Colour  Odometer  Doors    Price
0  Toyota  white  150043.0    4.0   $4,000
1   Honda    red   87899.0    4.0   $5,000
2  Toyota   blue   73949.5    3.0   $7,000
3     BMW  black   11179.0    5.0  $22,000
4  Nissan  white  213095.0    4.0   $3,500
5  Toyota  green   73949.5    4.0   $4,500

In [37]:
tb.dropna(subset='Price')

     Make Colour  Odometer  Doors    Price
0  Toyota  white  150043.0    4.0   $4,000
1   Honda    red   87899.0    4.0   $5,000
2  Toyota   blue   73949.5    3.0   $7,000
3     BMW  black   11179.0    5.0  $22,000
4  Nissan  white  213095.0    4.0   $3,500
5  Toyota  green   73949.5    4.0   $4,500
6   Honda    NaN   73949.5    4.0   $7,500
9     NaN  white   31600.0    4.0   $9,700

In [38]:
tb.dropna(subset='Price').reset_index()

   index    Make Colour  Odometer  Doors    Price
0      0  Toyota  white  150043.0    4.0   $4,000
1      1   Honda    red   87899.0    4.0   $5,000
2      2  Toyota   blue   73949.5    3.0   $7,000
3      3     BMW  black   11179.0    5.0  $22,000
4      4  Nissan  white  213095.0    4.0   $3,500
5      5  Toyota  green   73949.5    4.0   $4,500
6      6   Honda    NaN   73949.5    4.0   $7,500
7      9     NaN  white   31600.0    4.0   $9,700

In [39]:
tb=tb.dropna(subset='Price').reset_index(drop=True) #tb.dropna(subset='Price', inplace=True).reset_index(drop=True) 'NoneType' object has no attribute 'reset_index' ; dropna() with inplace=True modifies the DataFrame in-place, meaning it returns None instead of a new DataFrame. This modifies tb directly and does not return a new DataFrame, so reset_index(drop=True) is being called on None, which causes the error.
tb

     Make Colour  Odometer  Doors    Price
0  Toyota  white  150043.0    4.0   $4,000
1   Honda    red   87899.0    4.0   $5,000
2  Toyota   blue   73949.5    3.0   $7,000
3     BMW  black   11179.0    5.0  $22,000
4  Nissan  white  213095.0    4.0   $3,500
5  Toyota  green   73949.5    4.0   $4,500
6   Honda    NaN   73949.5    4.0   $7,500
7     NaN  white   31600.0    4.0   $9,700

In [40]:
tb.dropna(subset='Colour', inplace=True)
tb.reset_index(drop=True, inplace=True)

In [13]:
tb

     Make Colour  Odometer  Doors    Price
0  Toyota  white  150043.0    4.0   $4,000
1   Honda    red   87899.0    4.0   $5,000
2  Toyota   blue   73949.5    3.0   $7,000
3     BMW  black   11179.0    5.0  $22,000
4  Nissan  white  213095.0    4.0   $3,500
5  Toyota  green   73949.5    4.0   $4,500
6     NaN  white   31600.0    4.0   $9,700

In [41]:
Seats= pd.Series([4,5,5,5,5,5])
Seats

0    4
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [42]:
Seats= pd.Series([4,5,5,5,5,5]) #using series
tb['Seats']= Seats
tb

     Make Colour  Odometer  Doors    Price  Seats
0  Toyota  white  150043.0    4.0   $4,000    4.0
1   Honda    red   87899.0    4.0   $5,000    5.0
2  Toyota   blue   73949.5    3.0   $7,000    5.0
3     BMW  black   11179.0    5.0  $22,000    5.0
4  Nissan  white  213095.0    4.0   $3,500    5.0
5  Toyota  green   73949.5    4.0   $4,500    5.0
6     NaN  white   31600.0    4.0   $9,700    NaN

In [43]:
Fuel= [4.5, 3, 5.5, 6.4, 4, 3.2]  #ValueError: Length of values (5) does not match length of index (7). Value length should match length of index
Fuel= [4.5, 3, 5.5, 6.4, 4, 3.2, 6] 
Fuel

[4.5, 3, 5.5, 6.4, 4, 3.2, 6]

In [44]:
tb['Fuel per 100KM']=Fuel 
tb

     Make Colour  Odometer  Doors    Price  Seats  Fuel per 100KM
0  Toyota  white  150043.0    4.0   $4,000    4.0             4.5
1   Honda    red   87899.0    4.0   $5,000    5.0             3.0
2  Toyota   blue   73949.5    3.0   $7,000    5.0             5.5
3     BMW  black   11179.0    5.0  $22,000    5.0             6.4
4  Nissan  white  213095.0    4.0   $3,500    5.0             4.0
5  Toyota  green   73949.5    4.0   $4,500    5.0             3.2
6     NaN  white   31600.0    4.0   $9,700    NaN             6.0

In [45]:
import numpy as np

In [46]:
Fuel= [4.5, 3, 5.5, 6.4, 4, 3.2, np.nan] 
tb['Fuel per 100KM']=Fuel 
tb

     Make Colour  Odometer  Doors    Price  Seats  Fuel per 100KM
0  Toyota  white  150043.0    4.0   $4,000    4.0             4.5
1   Honda    red   87899.0    4.0   $5,000    5.0             3.0
2  Toyota   blue   73949.5    3.0   $7,000    5.0             5.5
3     BMW  black   11179.0    5.0  $22,000    5.0             6.4
4  Nissan  white  213095.0    4.0   $3,500    5.0             4.0
5  Toyota  green   73949.5    4.0   $4,500    5.0             3.2
6     NaN  white   31600.0    4.0   $9,700    NaN             NaN

In [49]:
tb['Total Fuel Consumed']= tb['Fuel per 100KM']*(tb['Odometer']/100)
tb

,Make,Colour,Odometer,Doors,Price,Seats,Fuel per 100KM,Total Fuel Consumed
0,Toyota,white,150043.0,4.0,"$4,000",4.0,4.5,6751.9350
1,Honda,red,87899.0,4.0,"$5,000",5.0,3.0,2636.9700
2,Toyota,blue,73949.5,3.0,"$7,000",5.0,5.5,4067.2225
3,BMW,black,11179.0,5.0,"$22,000",5.0,6.4,715.4560
4,Nissan,white,213095.0,4.0,"$3,500",5.0,4.0,8523.8000
5,Toyota,green,73949.5,4.0,"$4,500",5.0,3.2,2366.3840
6,NaN,white,31600.0,4.0,"$9,700",NaN,NaN,NaN

In [51]:
tb['Passed Safety']=True #using single value
tb.dtypes

Make                    object
Colour                  object
Odometer               float64
Doors                  float64
Price                   object
Seats                  float64
Fuel per 100KM         float64
Total Fuel Consumed    float64
Passed Safety             bool
dtype: object

In [53]:
tb.Doors=tb.Doors.astype(int)
tb.Price=tb.Price.str[1:].str.replace(",",'').astype(int)
tb

,Make,Colour,Odometer,Doors,Price,Seats,Fuel per 100KM,Total Fuel Consumed,Passed Safety
0,Toyota,white,150043.0,4,4000,4.0,4.5,6751.9350,True
1,Honda,red,87899.0,4,5000,5.0,3.0,2636.9700,True
2,Toyota,blue,73949.5,3,7000,5.0,5.5,4067.2225,True
3,BMW,black,11179.0,5,22000,5.0,6.4,715.4560,True
4,Nissan,white,213095.0,4,3500,5.0,4.0,8523.8000,True
5,Toyota,green,73949.5,4,4500,5.0,3.2,2366.3840,True
6,NaN,white,31600.0,4,9700,NaN,NaN,NaN,True

In [54]:
tb=tb.drop('Total Fuel Consumed', axis=1)
tb

     Make Colour  Odometer  Doors  Price  Seats  Fuel per 100KM  Passed Safety
0  Toyota  white  150043.0      4   4000    4.0             4.5           True
1   Honda    red   87899.0      4   5000    5.0             3.0           True
2  Toyota   blue   73949.5      3   7000    5.0             5.5           True
3     BMW  black   11179.0      5  22000    5.0             6.4           True
4  Nissan  white  213095.0      4   3500    5.0             4.0           True
5  Toyota  green   73949.5      4   4500    5.0             3.2           True
6     NaN  white   31600.0      4   9700    NaN             NaN           True

In [75]:
tb= pd.read_csv(r"C:\Users\Lucky Prem\Downloads\organizations-100\car-sales-missing-data.csv")
tb

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [76]:
tb.sample(frac=0.5) #randomize the data using frac:fraction:percent of sample

     Make Colour  Odometer  Doors   Price
5  Toyota  Green       NaN    4.0  $4,500
4  Nissan  White  213095.0    4.0  $3,500
7   Honda   Blue       NaN    4.0     NaN
1   Honda    Red   87899.0    4.0  $5,000
0  Toyota  White  150043.0    4.0  $4,000

In [77]:
tb_sample= tb.sample(frac=1)
tb_sample

     Make Colour  Odometer  Doors    Price
6   Honda    NaN       NaN    4.0   $7,500
2  Toyota   Blue       NaN    3.0   $7,000
8  Toyota  White   60000.0    NaN      NaN
3     BMW  Black   11179.0    5.0  $22,000
0  Toyota  White  150043.0    4.0   $4,000
9     NaN  White   31600.0    4.0   $9,700
5  Toyota  Green       NaN    4.0   $4,500
1   Honda    Red   87899.0    4.0   $5,000
7   Honda   Blue       NaN    4.0      NaN
4  Nissan  White  213095.0    4.0   $3,500

In [78]:
tb_sample.reset_index(drop=True, inplace=True)

In [79]:
tb_sample

     Make Colour  Odometer  Doors    Price
0   Honda    NaN       NaN    4.0   $7,500
1  Toyota   Blue       NaN    3.0   $7,000
2  Toyota  White   60000.0    NaN      NaN
3     BMW  Black   11179.0    5.0  $22,000
4  Toyota  White  150043.0    4.0   $4,000
5     NaN  White   31600.0    4.0   $9,700
6  Toyota  Green       NaN    4.0   $4,500
7   Honda    Red   87899.0    4.0   $5,000
8   Honda   Blue       NaN    4.0      NaN
9  Nissan  White  213095.0    4.0   $3,500

In [80]:
tb.Odometer= tb.Odometer/1.6 #KM to miles 1.6KM=1Miles
tb

     Make Colour    Odometer  Doors    Price
0  Toyota  White   93776.875    4.0   $4,000
1   Honda    Red   54936.875    4.0   $5,000
2  Toyota   Blue         NaN    3.0   $7,000
3     BMW  Black    6986.875    5.0  $22,000
4  Nissan  White  133184.375    4.0   $3,500
5  Toyota  Green         NaN    4.0   $4,500
6   Honda    NaN         NaN    4.0   $7,500
7   Honda   Blue         NaN    4.0      NaN
8  Toyota  White   37500.000    NaN      NaN
9     NaN  White   19750.000    4.0   $9,700

In [81]:
tb_sample.Odometer= tb_sample.Odometer.apply(lambda x: x/1.6) #using apply function and lamda(individual x) x:
tb_sample

     Make Colour    Odometer  Doors    Price
0   Honda    NaN         NaN    4.0   $7,500
1  Toyota   Blue         NaN    3.0   $7,000
2  Toyota  White   37500.000    NaN      NaN
3     BMW  Black    6986.875    5.0  $22,000
4  Toyota  White   93776.875    4.0   $4,000
5     NaN  White   19750.000    4.0   $9,700
6  Toyota  Green         NaN    4.0   $4,500
7   Honda    Red   54936.875    4.0   $5,000
8   Honda   Blue         NaN    4.0      NaN
9  Nissan  White  133184.375    4.0   $3,500

# #try it, run your code #Search for it and try again #doubt, Ask
## merge, concat

In [23]:
tb1=pd.read_excel(r"C:\Users\Lucky Prem\Downloads\sample_-_superstore.xls").tail(10)
tb1

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
9986,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,California,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
9987,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [16]:
tb2=pd.read_excel(r"C:\Users\Lucky Prem\Downloads\CE463600.xlsx").iloc[10:40]
tb2=tb2.sample(10).reset_index(drop=True)
tb2

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
1,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
2,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
3,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
4,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
5,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
6,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
7,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
8,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
9,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France

In [17]:
tb2.Country= tb2.Country.str.replace(' Kingdom'," States" )
tb2

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
1,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
2,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
3,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
4,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States
5,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
6,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
7,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States
8,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
9,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France

In [24]:
#pd.merge(tb1, tb2, on='Country')
pd.merge(tb2, tb1, on='Country').head(20)

,InvoiceNo,StockCode,Description,Quantity_x,InvoiceDate,UnitPrice,CustomerID,Country,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity_y,Discount,Profit
0,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
1,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
2,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,Los Angeles,California,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
3,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,Athens,Georgia,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
4,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,Athens,Georgia,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
5,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
6,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
7,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
8,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480
10,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.0,15.1200
11,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.0,16.1240
12,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,Los Angeles,California,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.0,15.2208
13,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,Athens,Georgia,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.0,28.7964
14,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,Athens,Georgia,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.0,55.6470
15,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
16,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
18,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
19,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

#on= Use a column that is on both dataframes/tables and show only common

#how="innner"(default) , "left", "right", "outer"

In [25]:
pd.merge(tb2, tb1, on='Country', how='left').head(20)

,InvoiceNo,StockCode,Description,Quantity_x,InvoiceDate,UnitPrice,CustomerID,Country,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity_y,Discount,Profit
0,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561.0,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10.0,0.0,15.1200
5,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9986.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4.0,0.0,16.1240
6,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,Los Angeles,California,90008.0,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1.0,0.0,15.2208
7,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,Athens,Georgia,30605.0,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1.0,0.0,28.7964
8,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9989.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,Athens,Georgia,30605.0,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5.0,0.0,55.6470
9,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3.0,0.2,4.1028
10,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2.0,0.0,15.6332
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2.0,0.2,19.3932
12,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4.0,0.0,13.3200
13,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.0,72.9480
14,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561.0,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10.0,0.0,15.1200
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9986.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,Long Beach,New York,11561.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4.0,0.0,16.1240
18,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,Los Angeles,California,90008.0,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1.0,0.0,15.2208
19,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,Athens,Georgia,30605.0,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1.0,0.0,28.7964

In [26]:
pd.merge(tb2,tb1, on=['Country','Quantity'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Discount,Profit
0,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,0.2,4.1028

In [32]:
tb1.loc[9984,"Discount"]=0.65
pd.merge(tb2,tb1,left_on='UnitPrice',right_on='Discount')

,InvoiceNo,StockCode,Description,Quantity_x,InvoiceDate,UnitPrice,CustomerID,Country_x,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country_y,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity_y,Discount,Profit
0,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5,10,0.65,15.12

In [27]:
pd.merge(tb2,tb1,left_index=True,right_index=True) # joining both tables on both k common index

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity_x, InvoiceDate, UnitPrice, CustomerID, Country_x, Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country_y, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity_y, Discount, Profit]
Index: []

In [28]:
tb11 =pd.read_excel(r"C:\Users\Lucky Prem\Downloads\sample_-_superstore.xls").head(10)
pd.merge(tb2, tb11, left_index=True,right_index=True)

,InvoiceNo,StockCode,Description,Quantity_x,InvoiceDate,UnitPrice,CustomerID,Country_x,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country_y,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity_y,Discount,Profit
0,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [35]:
pd.merge(tb1,tb2, left_on='Discount', right_on='UnitPrice', how='outer')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country_x,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity_x,Discount,Profit,InvoiceNo,StockCode,Description,Quantity_y,InvoiceDate,UnitPrice,CustomerID,Country_y
0,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10.0,0.65,15.1200,536370,21883,STARS GIFT TAPE,24.0,2010-12-01 08:45:00,0.65,12583.0,France
1,9986.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4.0,0.00,16.1240,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,California,90008.0,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1.0,0.00,15.2208,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1.0,0.00,28.7964,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,9989.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5.0,0.00,55.6470,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
5,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2.0,0.00,15.6332,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
6,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4.0,0.00,13.3200,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
7,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.00,72.9480,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
8,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3.0,0.20,4.1028,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2.0,0.20,19.3932,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
10,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22726,ALARM CLOCK BAKELIKE GREEN,12.0,2010-12-01 08:45:00,3.75,12583.0,France
11,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22631,CIRCUS PARADE LUNCH BOX,24.0,2010-12-01 08:45:00,1.95,12583.0,France
12,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22629,SPACEBOY LUNCH BOX,24.0,2010-12-01 08:45:00,1.95,12583.0,France
13,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,10002,INFLATABLE POLITICAL GLOBE,48.0,2010-12-01 08:45:00,0.85,12583.0,France
14,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6.0,2010-12-01 08:34:00,2.10,13047.0,United States
15,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24.0,2010-12-01 08:45:00,1.25,12583.0,France
16,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24.0,2010-12-01 08:45:00,2.95,12583.0,France
17,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18.0,2010-12-01 08:45:00,2.95,12583.0,France
18,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536367,21754,HOME BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,United States

In [36]:
pd.merge(tb1,tb2,left_on='Discount',right_on='UnitPrice', how='right', suffixes=['_ex','_py'])

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country_ex,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity_ex,Discount,Profit,InvoiceNo,StockCode,Description,Quantity_py,InvoiceDate,UnitPrice,CustomerID,Country_py
0,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5,10.0,0.65,15.12,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
1,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
2,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
3,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
4,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States
5,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
6,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
7,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States
8,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
9,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France

In [43]:
tb1.join(tb2, on='Quantity', lsuffix='_tb1', rsuffix='_tb2') #better use merge to join side by side

TypeError: DataFrame.join() got an unexpected keyword argument 'left_on'

Use concat for combining dataset on top of each other, your datasets are just stiched together along an axis.

In [37]:
pd.concat( [tb1,tb2] ) #concat directly merge one under the other(default) axis=0, join the dataset without taking common into account

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID
9984,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.65,15.1200,NaN,NaN,NaN,NaT,NaN,NaN
9985,9986.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.00,16.1240,NaN,NaN,NaN,NaT,NaN,NaN
9986,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,California,90008.0,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.00,15.2208,NaN,NaN,NaN,NaT,NaN,NaN
9987,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.00,28.7964,NaN,NaN,NaN,NaT,NaN,NaN
9988,9989.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.00,55.6470,NaN,NaN,NaN,NaT,NaN,NaN
9989,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.20,4.1028,NaN,NaN,NaN,NaT,NaN,NaN
9990,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.00,15.6332,NaN,NaN,NaN,NaT,NaN,NaN
9991,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.20,19.3932,NaN,NaN,NaN,NaT,NaN,NaN
9992,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.00,13.3200,NaN,NaN,NaN,NaT,NaN,NaN
9993,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.00,72.9480,NaN,NaN,NaN,NaT,NaN,NaN
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,21883,STARS GIFT TAPE,2010-12-01 08:45:00,0.65,12583.0
1,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,536370,22726,ALARM CLOCK BAKELIKE GREEN,2010-12-01 08:45:00,3.75,12583.0
2,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22631,CIRCUS PARADE LUNCH BOX,2010-12-01 08:45:00,1.95,12583.0
3,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN,NaN,536370,10002,INFLATABLE POLITICAL GLOBE,2010-12-01 08:45:00,0.85,12583.0
4,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,536367,22748,POPPY'S PLAYHOUSE KITCHEN,2010-12-01 08:34:00,2.10,13047.0
5,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,2010-12-01 08:45:00,1.25,12583.0
6,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,2010-12-01 08:45:00,2.95,12583.0
7,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,536367,21754,HOME BUILDING BLOCK WORD,2010-12-01 08:34:00,5.95,13047.0
8,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22629,SPACEBOY LUNCH BOX,2010-12-01 08:45:00,1.95,12583.0
9,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,2010-12-01 08:45:00,2.95,12583.0

In [38]:
pd.concat( [tb1,tb2], ignore_index=True)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID
0,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10,0.65,15.1200,NaN,NaN,NaN,NaT,NaN,NaN
1,9986.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4,0.00,16.1240,NaN,NaN,NaN,NaT,NaN,NaN
2,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,California,90008.0,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1,0.00,15.2208,NaN,NaN,NaN,NaT,NaN,NaN
3,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1,0.00,28.7964,NaN,NaN,NaN,NaT,NaN,NaN
4,9989.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5,0.00,55.6470,NaN,NaN,NaN,NaT,NaN,NaN
5,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.20,4.1028,NaN,NaN,NaN,NaT,NaN,NaN
6,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.00,15.6332,NaN,NaN,NaN,NaT,NaN,NaN
7,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.20,19.3932,NaN,NaN,NaN,NaT,NaN,NaN
8,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.00,13.3200,NaN,NaN,NaN,NaT,NaN,NaN
9,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.00,72.9480,NaN,NaN,NaN,NaT,NaN,NaN
10,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,21883,STARS GIFT TAPE,2010-12-01 08:45:00,0.65,12583.0
11,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,536370,22726,ALARM CLOCK BAKELIKE GREEN,2010-12-01 08:45:00,3.75,12583.0
12,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22631,CIRCUS PARADE LUNCH BOX,2010-12-01 08:45:00,1.95,12583.0
13,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN,NaN,536370,10002,INFLATABLE POLITICAL GLOBE,2010-12-01 08:45:00,0.85,12583.0
14,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,536367,22748,POPPY'S PLAYHOUSE KITCHEN,2010-12-01 08:34:00,2.10,13047.0
15,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,2010-12-01 08:45:00,1.25,12583.0
16,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,2010-12-01 08:45:00,2.95,12583.0
17,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,536367,21754,HOME BUILDING BLOCK WORD,2010-12-01 08:34:00,5.95,13047.0
18,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22629,SPACEBOY LUNCH BOX,2010-12-01 08:45:00,1.95,12583.0
19,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,2010-12-01 08:45:00,2.95,12583.0

In [39]:
pd.concat([tb1,tb2], axis=1) #ie stack side by side when axis=1 similar to merge but without common

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9984,9985.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.500,10.0,0.65,15.1200,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9985,9986.0,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,New York,11561.0,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.600,4.0,0.00,16.1240,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9986,9987.0,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,California,90008.0,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.240,1.0,0.00,15.2208,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9987,9988.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.990,1.0,0.00,28.7964,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9988,9989.0,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605.0,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.100,5.0,0.00,55.6470,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9989,9990.0,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3.0,0.20,4.1028,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9990,9991.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2.0,0.00,15.6332,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9991,9992.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2.0,0.20,19.3932,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9992,9993.0,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4.0,0.00,13.3200,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9993,9994.0,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.00,72.9480,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,21883,STARS GIFT TAPE,24.0,2010-12-01 08:45:00,0.65,12583.0,France
1,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22726,ALARM CLOCK BAKELIKE GREEN,12.0,2010-12-01 08:45:00,3.75,12583.0,France
2,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22631,CIRCUS PARADE LUNCH BOX,24.0,2010-12-01 08:45:00,1.95,12583.0,France
3,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,10002,INFLATABLE POLITICAL GLOBE,48.0,2010-12-01 08:45:00,0.85,12583.0,France
4,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6.0,2010-12-01 08:34:00,2.10,13047.0,United States
5,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24.0,2010-12-01 08:45:00,1.25,12583.0,France
6,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24.0,2010-12-01 08:45:00,2.95,12583.0,France
7,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536367,21754,HOME BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,United States
8,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,22629,SPACEBOY LUNCH BOX,24.0,2010-12-01 08:45:00,1.95,12583.0,France
9,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18.0,2010-12-01 08:45:00,2.95,12583.0,France

In [53]:
pd.concat([tb1,tb2], axis=1, join='inner') #join="outer"(default) ,coz nothing common so removed all NaN

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [52]:
pd.concat([tb11,tb2], axis=1, join='inner') #tb11,tb2 axises are same

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States
8,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France

In [50]:
pd.concat([tb11,tb2], axis=1, join='outer')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United States
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United States
8,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France

In [55]:
pd.concat([tb11,tb2], axis=0, join='inner')

         Country  Quantity
0  United States         2
1  United States         3
2  United States         2
3  United States         5
4  United States         2
5  United States         7
6  United States         4
7  United States         6
8  United States         3
9  United States         5
0         France        24
1         France        12
2         France        24
3         France        48
4  United States         6
5         France        24
6         France        24
7  United States         3
8         France        24
9         France        18

In [54]:
pd.concat([tb11,tb2], join='outer') #axis=0(default)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID
0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,NaN,NaN,NaN,NaT,NaN,NaN
1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,NaN,NaN,NaN,NaT,NaN,NaN
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,NaN,NaN,NaN,NaT,NaN,NaN
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,NaN,NaN,NaN,NaT,NaN,NaN
4,5.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,NaN,NaN,NaN,NaT,NaN,NaN
5,6.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694,NaN,NaN,NaN,NaT,NaN,NaN
6,7.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656,NaN,NaN,NaN,NaT,NaN,NaN
7,8.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152,NaN,NaN,NaN,NaT,NaN,NaN
8,9.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825,NaN,NaN,NaN,NaT,NaN,NaN
9,10.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700,NaN,NaN,NaN,NaT,NaN,NaN
0,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,21883,STARS GIFT TAPE,2010-12-01 08:45:00,0.65,12583.0
1,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,536370,22726,ALARM CLOCK BAKELIKE GREEN,2010-12-01 08:45:00,3.75,12583.0
2,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22631,CIRCUS PARADE LUNCH BOX,2010-12-01 08:45:00,1.95,12583.0
3,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN,NaN,536370,10002,INFLATABLE POLITICAL GLOBE,2010-12-01 08:45:00,0.85,12583.0
4,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,536367,22748,POPPY'S PLAYHOUSE KITCHEN,2010-12-01 08:34:00,2.10,13047.0
5,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,2010-12-01 08:45:00,1.25,12583.0
6,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,2010-12-01 08:45:00,2.95,12583.0
7,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,536367,21754,HOME BUILDING BLOCK WORD,2010-12-01 08:34:00,5.95,13047.0
8,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,NaN,536370,22629,SPACEBOY LUNCH BOX,2010-12-01 08:45:00,1.95,12583.0
9,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,2010-12-01 08:45:00,2.95,12583.0

In [54]:
#no way to specify the type of join
tb1.append(tb2)

AttributeError: 'DataFrame' object has no attribute 'append'